.wrap {
  margin-bottom: 8%;
  padding-left: 2%;
}

.general {
  border: none;
  outline: none;
  cursor: pointer;
}

.select {
  background-color: rgba(161, 199, 49, 0.616);
  composes: general;
}

.btn {
  width: 40px;
  height: 25px;
  border-radius: 36%;
  background-color: rgb(141, 177, 35);
  margin-left: 1%;
  composes: general;
}

@media (min-width: 768px) {
  .wrap {
    padding-left: 4%;
  }
}

@media (min-width: 1280px) {
  .wrap {
    margin-bottom: 3%;
    padding-left: 4%;
  }

  .select {
    width: 210px;
    height: 35px;
    padding-left: 28px;
  }

  .btn {
    width: 50px;
    height: 36px;
  }
}
